## Python Crash Course

## we can use format () function to make a string using some variables

In [1]:
name = 'Eman'
Age = 23
print('My Name is {} and My Age is {}'.format(name,Age))

My Name is Eman and My Age is 23

In [2]:
# to print all the letters of a string
A = 'emankhaled'
A[0:]

'emankhaled'

In [3]:
# to print the first 4 letters from the string A
A[0:4]

'eman'

In [4]:
# to print from the first letter to the third letter  
A[:3]

'ema'

In [5]:
# to print from the third letter to the six letter
A[3:6]

'nkh'

In [6]:
# to create a list
mylist = ['a','b','c']

In [7]:
mylist.append('d')

In [8]:
mylist

['a', 'b', 'c', 'd']

In [9]:
# to print the second element of mylist
mylist[2]

'c'

In [10]:
# we can create lists in a list
list1 = [1,2,3,[4,5,6]]
list1[3][1]

5

In [11]:
# to create a dictionary
# dictionary can provide me with key and values for each key
dic = {'name':'eman','age':'23'}

In [12]:
dic

{'name': 'eman', 'age': '23'}

In [13]:
#to konw the value of key ('name')
dic['name']

'eman'

In [14]:
#another example of dictionary
# here we use a dictionary inside a dictionary
s = { 'k1':{'innerkey':[1,2,3]}}

In [15]:
s['k1']

{'innerkey': [1, 2, 3]}

In [16]:
s['k1']['innerkey']

[1, 2, 3]

In [17]:
s['k1']['innerkey'][0]

1

In [18]:
# tuple
#  we can't change the values in tuple but we can change it in a list
t = (1,2,3,4,5)

In [19]:
t[0]

1

In [20]:
# set is representing the unique values in it
{1,1,1,1,1,1,1,1,2,2,2,2,2,33,3,3,3,3,3}

{1, 2, 3, 33}

In [21]:
# if statment
x = 12
if x > 10:
    print('larger')
elif x < 10:
    print('smaller')
else:
    print('equal')

larger

In [22]:
# while statement
i = 1
while i < 5:
    print(i)
    i=i+1

1
2
3
4

In [23]:
seq = [1,2,3,4,5]

In [25]:
# for loop
for x in seq:
    print('eman')

eman
eman
eman
eman
eman

In [27]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [29]:

x=[1,2,3,4]
[num**2 for num in x]

[1, 4, 9, 16]

In [38]:
# functions 
def getDomain(email):
    return email.split('@')[1]

In [39]:
getDomain('user@gmail.com')

'gmail.com'

In [42]:
# map() function
seq = ['user@yahoo.com','eman@gmail.com','amira@outlook.com']

In [43]:
list(map(getDomain,seq))

['yahoo.com', 'gmail.com', 'outlook.com']

In [45]:
# lambda function

list(map(lambda num : num*3,x))

[3, 6, 9, 12]

In [46]:
# filter function
list(filter(lambda num: num%2==0,x))

[2, 4]

In [47]:
# String functions
s='hello my name is eman'

In [48]:
# to make all letters capital
s.upper()

'HELLO MY NAME IS EMAN'

In [49]:
# to make all letters small
s.lower()

'hello my name is eman'

In [50]:
# to split all the string into words
s.split()

['hello', 'my', 'name', 'is', 'eman']

In [51]:
# dictionary functions
d1 = {'k1':1,'k2':2}

In [53]:
d1.keys()

dict_keys(['k1', 'k2'])

In [54]:
d1.items()

dict_items([('k1', 1), ('k2', 2)])

In [55]:
d1.values()

dict_values([1, 2])

In [56]:
# list functions
lst = [1,2,3,4]

In [57]:
lst.pop()

4